{
  "pid": "com.tibco.bw.stat.appnode.24760750-c509-4e3d-bc04-1d59916c72d5",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.24760750-c509-4e3d-bc04-1d59916c72d5",
      "type": "java.lang.String"
    }
  }
}