{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.f650568e-7c6d-4f7b-8da3-fb6720e2e1bb",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}